@media (min-width: 1700px) {
    body{
        max-width: 1700px;
        margin: 0 auto;
        
    }
    
    #navBar{
        max-width: 1700px;
    }
    
    .content{
        max-width: 1700px;
        margin: 0 auto;
    }
}

@media (max-width: 860px) {
    
    #body{
        padding: 0em 1em 1em 1em;
        margin-top: 1em;
    }
    .menu{
        display: none;
        width: 0;
    }
    
    #nameHeader{
        color: white;
        padding-top: 1.5em;
        padding-right: 3em;
    }
    
    #nameHeader h1{
        color: white;
        
    }
    
    #mobileMenu{
        display: unset;
    }
    
    #navBar{
        height: 6em;
        background-color: black;
    }
    
    .art{
        width: 220px;
        height: 220px;
        
    }
    button{
        width: 220px;
        height: 220px;
    }
    
    .btnimage{
        width: 220px;
        height: 220px;
    }
    
    .navBarDesktop{
        padding: 0 2em;
    }
    
    .video{
        width: 100%;
        margin-top: 1em;
    }
    
    .infoBox{
        width: 450px;
        
    }
    
    .aboutme{
        padding-left: 0em;
    }
    
    .overlay1wrapper{
        top: 6em;
    }
    
    
    .close {
        transition: 0.2s;
        top: 4em;
        right: .5em;
        position: fixed;
        z-index: 1;
        visibility: hidden;
        cursor: pointer;
        font-size: 25px;
    }
    
    .art3D{
        width: 100%;
        padding-bottom: 2em;
    }
    
     .art3DMain{
        width: 100%;
        padding-bottom: 10px;
    }
    
    .video3D {
        height: 23em;
        width: 100%;
        float: left;
    
    }
    
    .artDescript {
        width: 100%;
        padding-bottom: 2em;
    }
    
    
    .artDescriptText {
        width: 400px;
        margin: 0em;
    }

    
    .content{
        padding: 2em 2em 8em 2em;
        overflow-x: hidden;
    }
    
    .flex-container2{
        justify-content: flex-start;
    }
    .gameDescriptText{
        padding: 1em 0;
        width: auto;
    }
    
    #games .video3D{
        margin-bottom: 0em;
        padding-bottom: 0;
    }
    
    #graphics .infoBox{
    margin-bottom: 1em;
}

}
    



@media (max-width: 600px) {
    #nameHeader{
        text-align: right;
    }
    
    #nameHeader h1{
        font-size: 20px;
    }
    
    #nameHeader h2{
        font-size: 7pt;
    }
    
    .navBarDesktop{
        padding: 0 1em;
    }
    

    
    .video{
        height: 18em;
    }
    
    
    .infoBox{
        width: auto;
        
    }
    
    .art{
        margin: 5px;
        width: 150px;
        height: 150px;
    }
    
    button{
        width: 150px;
        height: 150px;
    }
    
    .btnimage{
        width: 150px;
        height: 150px;
    }
    
    .art3D{
        width: 100%;
    }
    
  .art3DMain{
        width: 335px;
    }
    
    .model3D {
        height: 335px;
        width: 335px;
    }
    
    .textureImg{
        height: 335px;
        width: 335px;
    }
    
    h5{
        font-size: 14pt;
        padding-bottom: 0em;
    }
    
    .art p{
        font-size: 8pt;
        line-height: 11pt;
    }
    
    .art h5{
        font-size: 12pt;
        padding-bottom: 10px;
        
    }
    
    .artDescriptText {
       width: auto;
    }

    #mainArtDescript{
        padding: 10px;
    }
    
    .gameDescriptText{
        width: auto;
        margin: 0;
        
    }
    .photo {
    width: 100%;
    }
    
    .miscArt{
        width: 335px;
        height: 335px;
    }
    
    #lorisPic {
        width: 250px;
    }
    
    #graphics .video3D{
        padding-bottom: 0;
    } 
    #graphics .art3D{
        padding-bottom: 0;
    }
}
